@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  /* min-width: 100%;
  min-height: 100%; */

  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1400px) {
  /* styles for screens with width up to 899 pixels */
  /* e.g. */
  .hideItOut {
    display: none;
  }
}

@media (max-width: 1000px) {
  /* styles for screens with width up to 899 pixels */
  /* e.g. */
  .imageHide {
    display: none;
  }
}

@media (max-width: 950px) {
  /* styles for screens with width up to 899 pixels */
  /* e.g. */
  .stormItOut {
    display: none;
  }
}

.absoluteCenter {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
  min-width: 600px; /* Need a specific value to work */
  width: 600px;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: red;
  stroke-width: 1;
}

.red {
  width: 1em;
  height: 1em;
  fill: red;
}

.gray {
  width: 1em;
  height: 1em;
  fill: gray;
}
